<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>grpc-ui</title>
</head>
<body ng-app="grpc-ui">
    <div class="container">
        <div ng-controller="ServiceGrpcCtrl">
            <div class="well">
                <form class="form-inline" ng-submit="grpcInfoSubmit(); $event.preventDefault();">
                    <div class="form-group">
                        <label for="addr">Host:</label>
                        <input class="form-control" type="text" id="addr" name="addr" ng-model="addr" ng-disabled="status != 'loaded'">
                    </div>

                    <button type="submit" class="btn btn-primary" ng-disabled="!addr">Show</button>
                </form>
            </div>

            <div class="row" ng-show="status == 'loading' || status == 'connecting'">
                <div class="col-sm-12 col-md-12">
                    <h1 ng-if="status == 'loading'" class="text-center">Loading...</h1>
                    <h1 ng-if="status == 'connecting'" class="text-center">Connecting...</h1>
                    <div class="progress">
                        <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar"
                             aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        </div>
                    </div>
                </div>
            </div>

            <div ng-show="status == 'loaded'">
                <div ng-repeat="(package_name, services) in grpc_descr" >
                    <ul>
                        <li class="list-unstyled" ng-repeat="(service_name, service) in services">
                            <h3>{{ package_name + " > " + service_name }}</h3>

                            <div class="panel panel-default" ng-repeat="(method_name, method) in service">
                                <div class="panel-heading" style="cursor: pointer;" ng-click="toggleMethod(method)">
                                    {{ method_name }} <i ng-class="{'icon-caret-down': !method.show}"></i>
                                </div>
                                <div class="panel-body" ng-show="method.show">
                                    <div class="well well-sm" style="background-color: #d9edf7">
                                        <h4>
                                            <span class="label label-default">Request</span>
                                            {{ method.request.name }}
                                            <span ng-show="method.request.stream" class="label label-warning">Stream</span>
                                        </h4>
                                        <table class="table">
                                            <thead ng-if="method.request.fields" >
                                            <tr>
                                                <th>Name</th>
                                                <th>Input</th>
                                                <th>Data Type</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr
                                                    ng-repeat="(field_name, field) in method.request.fields"
                                                    ng-include="'grpc_method.tpl'"
                                                    ng-init="table_color = '#d9edf7'; show_input = true; args_type='request';"
                                            ></tr>
                                            </tbody>
                                        </table>

                                        <div
                                                ng-if=" method.can_invoke "
                                        >
                                            <div>

                                            <span ng-if="method.is_stream" class="pull-right">
                                                View mode:
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        {{ limit == 1 ? 'Recent message' : ('Last ' + limit +' messages')}}  <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a ng-click="limit = 1">Recent message</a></li>
                                                        <li><a ng-click="limit = 10">Last 10 messages</a></li>
                                                        <li><a ng-click="limit = 30">Last 30 messages</a></li>
                                                        <li><a ng-click="limit =  50">Last 50 messages</a></li>
                                                    </ul>
                                                </div>
                                            </span>

                                                <button type="button" class="btn btn-primary"
                                                        ng-disabled="method.invoking && !method.is_stream"
                                                        ng-click="invoke_method(package_name, service_name, method_name);"
                                                > {{method.invoking ? 'Stop' : 'Invoke'}}</button>
                                            </div>

                                            <div class="alert alert-danger"
                                                 ng-if=" method.output_errors.length "
                                            >
                                                <div><b>Invoke Errors</b></div>
                                                <div ng-repeat=" err in method.output_errors ">
                                                    {{ err }}
                                                </div>
                                            </div>

                                            <br>

                                            <div ng-if="method.output_result_formatted">
                                                <pre style="height: auto; max-height: 400px; overflow: auto; background-color: #ffffff;">{{ method.output_result_formatted }}</pre>
                                            </div>
                                            <div ng-if=" method.output_log">
                                                <ul style="overflow: scroll; list-style: none; margin: 0; padding: 0;">
                                                    <li ng-repeat="m in method.output_log track by $index | limitTo: limit">
                                                        <pre>{{ m }}</pre>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="well well-sm" style="background-color: #dff0d8">
                                        <h4>
                                            <span class="label label-default">Response</span>
                                            {{ method.response.name }}
                                            <span ng-show="method.response.stream" class="label label-warning">Stream</span>
                                        </h4>
                                        <table class="table">
                                            <thead ng-if="method.response.fields" >
                                            <tr>
                                                <th>Name</th>
                                                <th>Data Type</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr
                                                    ng-repeat="(field_name, field) in method.response.fields"
                                                    ng-include="'grpc_method.tpl'"
                                                    ng-init="table_color = '#dff0d8'; show_input = false; args_type='response';"
                                            ></tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script type="text/ng-template" id="grpc_method.tpl">
        <td>
            <ng-include src="'grpc_method_field_name.tpl'"></ng-include>
        </td>
        <td ng-if=" show_input " >
            <ng-include src="'grpc_method_field_input.tpl'"></ng-include>
        </td>
        <td>
            <ng-include src="'grpc_method_field_type.tpl'"></ng-include>
        </td>
    </script>


    <script type="text/ng-template" id="grpc_method_field_name.tpl">

        {{ field_name }}

        <span ng-repeat="label in field.labels" class="label label-success" display="inline-block;">
            {{label}}
        </span>

    </script>


    <script type="text/ng-template" id="grpc_method_field_input.tpl">

        <div ng-repeat="value in field.input.values" >

            {{ value_index = $index; "" }}

            <span ng-repeat="(k, v) in value" >
                {{ control_type = field.input.controls[k].control; "" }}
                <input type="number" step="1.0"
                       ng-if='control_type == "input_float"'
                       ng-model="grpc_descr[package_name][service_name][method_name][args_type].fields[field_name].input.values[value_index][k]"
                >
                <input type="number"
                       ng-if='control_type == "input_int"'
                       ng-model="grpc_descr[package_name][service_name][method_name][args_type].fields[field_name].input.values[value_index][k]"
                >
                <select
                        ng-if='control_type == "input_enum"'
                        ng-options="item as item.name for item in field.enum track by item.number"
                        ng-model="grpc_descr[package_name][service_name][method_name][args_type].fields[field_name].input.values[value_index][k]"
                ></select>
                <input type="text"
                       ng-if='control_type == "input_text"'
                       ng-model="grpc_descr[package_name][service_name][method_name][args_type].fields[field_name].input.values[value_index][k]"
                >
                <input type="checkbox"
                       ng-if='control_type == "input_checkbox"'
                       ng-model="grpc_descr[package_name][service_name][method_name][args_type].fields[field_name].input.values[value_index][k]"
                >
                <textarea rows=10 cols=45
                          ng-if='control_type == "textarea"'
                          ng-model="grpc_descr[package_name][service_name][method_name][args_type].fields[field_name].input.values[value_index][k]"
                >{{ v }}</textarea>
            </span>

            <button type="button" class="btn btn-link"
                    ng-if="field.repeated"
                    ng-click="remove_repeated_field(package_name, service_name, method_name, args_type, field_name, value_index)"
            ><i class="icon-minus"></i></button>

        </div>

        <button type="button" class="btn btn-link"
                ng-if="field.repeated"
                ng-click="add_repeated_field(package_name, service_name, method_name, args_type, field_name)"
        ><i class="icon-plus"></i></button>

    </script>


    <script type="text/ng-template" id="grpc_method_field_type.tpl">

        <div ng-if="field.map" >
            map < {{ field.map.key_type }} > {{ field.map.value_type }}
        </div>

        <div ng-if="field.message" >
            <a ng-click="$event.preventDefault(); expanded = !expanded" style="cursor:pointer">
                {{ field.type.name }}
            </a>
            <table class="table" style="background-color: {{ table_color }}" ng-show="expanded">
                <tr
                        ng-repeat="(field_name, field) in field.message"
                        ng-init="depth = depth + 1; show_input = false;"
                        ng-include="'grpc_method.tpl'"
                ></tr>
            </table>
        </div>

        <div ng-if="!field.map && !field.message" >
            {{ field.type.name }}
        </div>
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/static/js/app.js"></script>
</body>
</html>
