html, body
    margin: 0
    padding: 0

=container
    &__container
        width: 920px
        margin: 0 auto

.navbar
    padding: 20px
    border-bottom: 1px solid #eee
    +container
.logo
    display: block
    width: 80px
    height: 28px
    background-image: url('/static/img/grpc.png')

.packages-list
    +container