html, body
    margin: 0
    padding: 0
    font-family: 'Roboto', sans-serif

=container
    &__container
        width: 1080px
        margin: 0 auto

.navbar
    padding: 20px
    border-bottom: 1px solid #eee
    +container
.logo
    display: block
    width: 80px
    height: 28px
    background-image: url('/static/img/grpc.png')

.app
    +container

.sidebar
    padding-top: 30px
    width: 30%
    float: left
    &__list
        list-style: none
        margin: 0
        padding: 0

.packages-list
    width: 70%
    float: left

.package
    &__title
        font:
            size: 28px
            weight: bold
.method
    border: 1px solid #eee
    margin-bottom: 40px
    &__heading
        padding: 20px
        background: rgb(4, 172, 180)
        color: #fff
        font:
            wight: bold
            size: 20px
    &__name
        margin: 0
    &__body
        padding: 20px
.field
    margin-bottom: 20px
    &__label
        display: block
        width: 150px
    &__input
        font-size: 14px
        box-sizing: border-box
        width: 100%
        padding: 10px
